cobra==0.17.1
cycler==0.10.0
decorator==4.4.2
depinfo==1.5.3
editdistance==0.5.3
future==0.18.2
joblib==0.14.1
kiwisolver==1.2.0
llvmlite==0.35.0
matplotlib==3.2.1
mpmath==1.1.0
networkx==2.5
numba==0.52.0
numpy==1.22.0
optlang==1.4.4
pandas==1.0.3
pipdeptree==0.13.2
plotly==4.6.0
pynndescent==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-libsbml-experimental==5.18.0
pytz==2019.3
retrying==1.3.3
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scikit-learn==0.24.1
scipy==1.5.4
seaborn==0.11.1
six==1.14.0
swiglpk==4.65.1
sympy==1.5.1
threadpoolctl==2.1.0
umap-learn==0.5.0
